
body {
	background-color: darkolivegreen;
	margin: 0;
	padding: 0;
}


header {
	width: 100vw;
	height: 80px;
	background: antiquewhite;
	z-index: 1;
}

header input{
	margin: 5px;
}
#gravity {
	background-color: brown;
	width: 30vw;
	transition: .3s;
}

#checkbox {
	padding: 10px;
	width: 50px;
	height: 50px;
	color: chocolate;
	transition: .3s;

}

#checkbox:hover {
		box-shadow: 0 0 100px #00d2ff;
}

#canvas {
	display: block;
	z-index: 2;
}
















/*
ul {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin: 0;
	padding: 0;
	display: flex;

}
ul li {
	list-style: none;
	width: 30px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	margin: 0 50px;
	background: rgba(255, 255, 255, .2);
	border-radius: 50%;
	color: #16062b;
	transition: .7s;
}
ul li:hover {
	background: #fff;
	box-shadow: 0 0 60px 30px #fff;
}*/
